@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  font-family: "Open Sans", sans-serif;

  p {
    font-size: 18px;
  }
}

li {
  list-style: none;
}

header {

  menu {
    display: flex;
    gap: 40px;
    justify-content: center;

    a {
      text-decoration: none;
      color: #828282;
      font-size: 18px;
      transition: 0.3s;
    }

    a:hover {
      color: #070707;
      font-weight: bold;
    }

    margin: 25px 0 25px 0;
  }

  hr {
    margin: auto;
    max-width: 970px;
  }
}

.first-screen {
  max-width: 970px;
  margin: auto;
  
  h1 {
    margin: 12px 0 50px;
  }
}

.about-me {
  background-color: #F6F6F6;
  text-align: center;
  padding: 100px 0;

  h2 {
    font-weight: 700;
    font-size: 34px;
    margin: 0 0 50px;
  }

  p {
    font-size: 18px;
    margin-top: 30px;
  }
}

.skills {
  padding: 100px 0;
  text-align: center;

  h2 {
    font-weight: 700;
    font-size: 34px;
  }

  p {
    margin: 20px 0 50px;
  }

  ul {
    display: flex;
    justify-content: center;
    padding: 0;

    &.skill-list-apps {
      gap: 97px;

      >li {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        h4 {
          height: 37px;
          font-size: 14px;
          color: #828282;
          font-weight: bold;
          margin: 25px 0 60px;
        }

        >ul{
          gap: 10px;
        }
      }
    }
  }
}

.stars {
  li {
    width: 26px;
    height: 26px;
    background-image: url(images/star-icon-light.svg);
  }
  &:is(.one, .two, .three, .four, .five)>:nth-child(1),
  &:is(.two, .three, .four, .five)>:nth-child(2),
  &:is(.three, .four, .five)>:nth-child(3),
  &:is(.four, .five)>:nth-child(4),
  &.five>:nth-child(5) {
    background-image: url(images/star-icon-dark.svg);
  }
}

.portfolio {
  padding: 100px 0 30px;
  text-align: center;
  background-color: #F6F6F6;

  h2 {
    font-weight: bold;
    font-size: 34px;
    margin-bottom: 50px;
  }

  figcaption {
    margin: 40px 0 70px;
    font-size: 18px;
    font-weight: 400;

    a {
      color: #070707;
    }
  }
}

footer {
  text-align: center;
  padding: 100px 0;

  h2 {
    font-weight: 700;
    font-size: 34px;
    margin: 0 0 20px;
  }

  button {
    color: #FFFFFF;
    background-color: #070707;
    border: 3px solid transparent;
    border-radius: 22px;
    cursor: pointer;
    padding: 10px 16px;
    font-size: 18px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.1em;
    margin: 70px 0 30px;
    transition: 0.3s;

    &:hover {
      background-color: #fff;
      color: #070707;
      border-color: #070707;
    }
  }

  ul {
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 0 0 60px;

    li {
      transition: 0.3s;
    }

    li:hover {
      opacity: 0.5;
    }
  }

  .footer-text {
    font-size: 14px;
    color: #828282;
  }
}


